* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #eae9e9;
    text-align: center;
}
.cont > div {
    background-color: lightgray;
    padding: 100px;
    border-radius: 100px;
    width: 70%;
}
button {
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    background-color: #eae9e9;
    margin: 10px;
}
.questionPage {
    display: none;
    text-align: left;

}
.scorePage {
    display: none;
}
